:root {
  --black: rgba(0, 0, 0, 1);
  --cinder: rgba(14, 16, 26, 1);
  --woodsmoke: rgba(15, 15, 15, 1);
  --eerie-black: rgba(31, 31, 31, 1);
  --picton-blue: rgba(41, 182, 246, 1);
  --green: rgba(46, 71, 80, 1);
  --mid-gray: rgba(95, 99, 104, 1);
  --storm-gray: rgba(109, 117, 141, 1);
  --oslo-gray: rgba(137, 144, 152, 1);
  --mountain-mist: rgba(151, 151, 151, 1);
  --quill-gray: rgba(212, 212, 212, 1);
  --mercury: rgba(229, 229, 229, 1);
  --gray-nurse: rgba(233, 233, 233, 1);
  --gallery: rgba(238, 238, 238, 1);
  --yellow: rgba(246, 201, 14, 1);
  --supernova: rgba(255, 199, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-s: 16px;
  --font-size-l: 22px;
  --font-size-l: 48px;
  --font-size-xl: 31px;
  --font-size-xxxl: 52px;
  --font-size-s2: 11px;
  --font-size-m4: 14px;
  --font-size-m2: 18px;
  --font-size-l3: 21px;
  --font-size-m3: 24px;
  --font-size-l2: 30px;
  --font-size-xs2: 15px;
  --font-size-xl2: 36px;
  --font-size-xl2: 40px;
  --font-size-xxl2: 49px;
  --font-family-inconsolata: "Inconsolata";
  --font-family-inconsolata-bold: "Inconsolata-Bold";
  --font-family-inconsolata-regular: "Inconsolata-Regular";
  --font-family-lora: "Lora";
  --font-family-montserrat: "Montserrat";
  --font-family-montserrat-semibold: "Montserrat-SemiBold";
  --font-family-open_sans: "Open Sans";
  --font-family-open_sans-bold: "Open Sans-Bold";
  --font-family-open_sans-regular: "Open Sans-Regular";
  --font-family-pacifico: "Pacifico";
  --font-family-pacifico-regular: "Pacifico-Regular";
  --font-family-prompt: "Prompt";
  --font-family-roboto: "Roboto";
  --font-family-roboto-regular: "Roboto-Regular";
}
.roboto-normal-limed-spruce-18px {
  color: var(--green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-limed-spruce-11px {
  color: var(--green);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.border-1px-mountain-mist {
  border-width: 1px;
  border-style: solid;
  border-color: var(--mountain-mist);
}
.border-1px-white {
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
}
.roboto-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.border-1px-black {
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
.opensans-bold-black-21px {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l3);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m4);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-21px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l3);
  font-weight: 400;
  font-style: normal;
}
.opensans-normal-storm-gray-13px {
  color: var(--storm-gray);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.opensans-normal-storm-gray-12px {
  color: var(--storm-gray);
  font-family: var(--font-family-open_sans);
  font-size: 12;
  font-weight: 400;
  font-style: normal;
}
.opensans-normal-cinder-24px {
  color: var(--cinder);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m3);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-white-14px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m4);
  font-weight: 400;
  font-style: normal;
}
.prompt-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-prompt);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-supernova-14px {
  color: var(--yellow);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m4);
  font-weight: 400;
  font-style: normal;
}
.opensans-normal-cinder-14px {
  color: var(--cinder);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-m4);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-cinder-22px {
  color: var(--cinder);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.opensans-normal-black-21px {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-l3);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m3);
  font-weight: 400;
  font-style: normal;
}
.opensans-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.roboto-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs2);
  font-weight: 400;
  font-style: normal;
}
.roboto-normal-supernova-36px {
  color: var(--supernova);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  font-style: normal;
}
.roboto-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m2);
  font-weight: 700;
  font-style: normal;
}
.opensans-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-open_sans-bold);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}
.roboto-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m3);
  font-weight: 700;
  font-style: normal;
}
.border-0-7px-mountain-mist {
  border-width: 0.7px;
  border-style: solid;
  border-color: var(--mountain-mist);
}
